/**root y principal**/
:root{
    --fuenteText: 'Open Sans', sans-serif;
    --fuenteHeadings: 'PT Sans Narrow', sans-serif; 
    --marron: #592D1D;
    --naranja: #F28729;
    --beige: #F2DEA2;
    --verdeClaro: #4B5945;
    --verdeOscuro: #4B5945;
}
html{
    box-sizing: border-box;
    font-size: 62.5%; /** 1 rem = 10px **/
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    font-family: var(--fuenteText);
    font-size: 1.6rem;
    line-height: 2; /**este interlineado permite leer mejor el contenido**/
}

/**globales**/
.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto; /**margen de 0 Y y automatico en X**/
}
a{
    text-decoration: none;
    color: black;
}
h1,h2,h3,h4{
    font-family: var(--fuenteHeadings);
    line-height: 1.2;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%; /**toda imagen con max-width de 100% permite que sean si o si responsive.**/
}

/** Utilidades **/
.no_margin{
    margin: 0;
}
.no_padding{
    padding: 0;
}
.centrar_texto{
    text-align: center;
}

/**header**/
.header{
    background-image: url(../img/banner.jpg);
    height: 60rem;
    background-size: cover; /**este backgroind size con valor cover quiere decir que cubrira todo el espacio y no se repetira en caso que no quepa.**/
    background-repeat: no-repeat;
    background-position: center center; /**se enfocara unicamente en el centro del eje X  y Y, por eso 2 center**/
}
.header__texto{
    text-align: center;
    color: var(--beige);
    margin-top: 5rem;
}
@media (min-width: 768px) {
    .header__texto{
        margin-top: 15rem;
    }
}
.barra{
    padding-top: 4rem;
}
/**contenedor**/
@media (min-width: 768px) {
    .barra{
        display: flex;
        justify-content: space-between; /**aqui alineamos horizontalmente**/
        align-items: center; /**aqui verticalmente**/
        gap: 2rem;
    }
}
.logo{
    color: white;
}
.logo__nombre{
    font-weight: normal;
}
.logo__bold{
    font-family: var(--fuenteText);
}

@media (min-width: 768px) {
    .navegacion{
        display: flex;
        gap: 2rem;
    }
}
.navegacion__enlace{
    display: block; /**para que se muestre de arriba para abajo**/
    text-align: center;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    transition: color 0.5s ease; /**le daremos una animación a nuestro link para que cambie de color**/
}
.navegacion__enlace:hover{
    color: var(--beige);
}

/**Contenido principal**/
@media (min-width: 768px) {
    .contenido_principal{
        display: grid;
        grid-template-columns: 70% 30%;/**tambien se puede colocar fracciones, porque el blog tendra mas espacio que el sidebar, por lo que seria 2fr de blog y 1fr de sidebar**/
        gap: 4rem;
    }
}

/**Blog**/
.entrada{
    border-bottom: 1px solid var(--verdeClaro); /**agregamos una linea solida de 10 pixeles de color verde**/
    margin-bottom: 2rem; /**agregamos su respectiva separacion para que se vea**/
}
.entrada:last-of-type{ /**recordemonos que el last of type es la ultima etiqueta donde aparece la clase**/
    border: none;
}
.boton{
    display: block;
    font-family: var(--fuenteHeadings);
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    background-color: var(--naranja);
    color: white;
    padding: 1rem 3rem;
    text-transform: uppercase; /**este para que todo sea en mayusculas**/
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    .boton{
        display: inline-block; /**ya no se mostrara el gran boton que se mira como barra**/
    }
}

/**Aside**/
.boton_secundario{
    background-color: var(--verdeOscuro);
}
.cursos{
    padding: 0;
    list-style-type: none; /**aqui quitamos el punto que se coloca el el lado izquierdo como lista**/
}
.widget_curso{
    font-size: 2rem;
    border-bottom: 1px solid var(--verdeClaro);
    margin-bottom: 2rem;
}
.widget_curso:last-of-type{
    border-bottom: 0;
}
.widget_curso__label{
    font-weight: bold;
}
.widget_curso__informacion{
    font-weight: 400;
}

/**footer**/
.footer{
    background-color: var(--verdeOscuro);
    padding-bottom: 3rem ;
    margin-top: 2rem;
}

/**sobre nosotros**/
@media (min-width: 768px) {
    .Sobre-nosotros{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

/**sobre los cursos**/
.curso{
    padding: 3rem 0; /*para que haya una separacion tanto de arriba como de abajo*/
    border-bottom: 1px solid var(--verdeClaro);
}
@media (min-width: 768px) {
    .curso{
        display: grid;
        grid-template-columns: 1fr 2fr; /*1 fraccion ocupara la imagen y la informacion ocupara 2 fracciones*/
        column-gap: 2rem; /*agrerguele separacion a esa madre*/
    }
}

.curso:last-of-type{
    border-bottom: none;
}

/**pondremos aqui los labels del curso**/
.widget_curso{
    font-size: 2rem;
    border-bottom: 1px solid var(--verdeClaro);
    margin-bottom: 2rem;
}
.curso:last-of-type{
    border-bottom: 0;
}
.curso__label{
    font-weight: bold;
}
.curso__informacion{
    font-weight: 400;
}